<h1>{{ movie.title }}</h1>
<h2>{{ movie.director }}</h2>
<h3>{{ movie.watch_date }}視聴</h3>

{% for log in movie.log.all %}
    <li>
        <button onclick = "location.href='{% url 'WebApp:updatelog' log.id %}'">edit</button>
        <button onclick = "location.href='{% url 'WebApp:deletelog' log.id %}'">delete</button>
        {{ log.text }}
    </li>
{% endfor %}
<a href="{% url 'WebApp:writingthismovielog' movie.id %}">Write log of this movie data</a><br>
<a href="{% url 'WebApp:deletemovie' movie.id %}">Delete this movie data</a><br>
<a href="{% url 'WebApp:index' %}">To Index</a><br>